# Created by https://www.toptal.com/developers/gitignore/api/Xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=Xcode

### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/Xcode

.DS_Store
DeveloperSettings.xcconfig
*.xcarchive
*.ipa
