<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(SMITHEREEN_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>SMITHEREEN_CLIENT_ID</key>
	<string>${SMITHEREEN_CLIENT_ID}</string>
	<key>SMITHEREEN_BUG_REPORT_EMAIL</key>
	<string>$(SMITHEREEN_BUG_REPORT_EMAIL)</string>
</dict>
</plist>
