name: Build and upload artifact

on:
  push:
    tags:        
      - '**'
  workflow_dispatch:

jobs:
  artifact:
    name: Build and upload artifact
    runs-on: macos-15

    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Checkout
        uses: actions/checkout@v4
      - name: Skip package plugin fingerprint validation
        run: defaults write com.apple.dt.Xcode IDESkipPackagePluginFingerprintValidatation -bool YES
      - name: Build
        run: |
          xcodebuild archive -project Smithereen.xcodeproj -scheme Smithereen -archivePath Smithereen.xcarchive -configuration Release -skipMacroValidation CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
      - name: Prepare IPA
        run: |
          ln -s Smithereen.xcarchive/Products/Applications Payload && zip -r Smithereen.ipa Payload && rm Payload
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Smithereen
          path: Smithereen.ipa
